<% include layoutTop %>
<h1>Where in the World is <%= owner %>?</h1>

<% function link_to_if(name, target) { %>
  <% if (target) { %>
    <a href="<%= target %>"><%= name %></a>
  <% } else { %>
    <%= name %>
  <% } %>
<% } %>

<% function airline_icon(flightnumber) { %>
  <% var IATACode = flightnumber.substring(0, 2).toLowerCase(); %>
  <% return '<img width="16" heigh="16" src="/img/iata/' + IATACode + '.png">' %>
<% } %>

<% function train_icon(train_number) { %>
  <% var internal_code = train_number.substring(0, 3).toLowerCase(); %>
  <% return '<img width="16" heigh="16" src="/img/train/' + internal_code + '.png">' %>
<% } %>

<% function leg_link(leg) { %>
  <% if (leg.id) { %>
    <% if ('plane' === leg.mode) { %>
      (<%- airline_icon(leg.id) %><% link_to_if(leg.id, 'http://flightaware.com/live/flight/' + leg.id) %>)
    <% } else if ('train' === leg.mode) { %>
    <% /* http://reservia.viarail.ca/tsi/GetTrainStatus.aspx?TsiCCode=VIA&TsiTrainNumber=622&TrainInstanceDate=2013-06-15 */ %>
      (<%- train_icon(leg.id) %><%= leg.id %>)
    <% } %>
  <% } %>
<% } %>

<% function city_link(city) { %>
  <% if (airports[city]) { %>
    <% link_to_if(airports[city].city, airports[city].url) %>
  <% } else { %>
    <%= city %>
  <% } %>
<% } %>

<% function zero_padded(number) { %>
  <% return (number < 10) ? "0" + number : "" + number; %>
<% } %>

<% function fixed_time(string, comparison_string) { %>
  <% var d = new Date(string); %>
  <%= zero_padded(d.getUTCHours()) %>:<%= zero_padded(d.getUTCMinutes()) %>
  <% if (comparison_string) { %>
    <% var comp = new Date(comparison_string); %>
    <% if (d.getUTCDate() != comp.getUTCDate() || d.getUTCMonth() != comp.getUTCMonth() || d.getUTCFullYear() != comp.getUTCFullYear()) {%>
      [<%= short_date(string) %>]
    <% } %>
  <% } %>
<% } %>

<% function short_date(string) { %>
  <% var d = new Date(string) %>
  <% return d.getUTCDate() + ' ' + months[d.getUTCMonth()] %>
<% } %>

<% function leg(info) { %>
  <li><%= short_date(info.departure) %>: <% city_link(info.origin) %> <% fixed_time(info.departure) %>
  <% if ('plane' === info.mode) { %>
✈
  <% } else { %>
🚅
  <% } %>
  <% city_link(info.destination) %> <% fixed_time(info.arrival, info.departure) %>
  <% leg_link(info) %></li>
<% } %>

<h2>Trips</h2>

<ul>
<% for (name in trips) { %>
  <li><% link_to_if(name, trips[name].url) %>
  <ul><% trips[name].legs.forEach(leg); %></ul>
  </li>
<% } %>
</ul>

<p><a href="javascript:navigator.id.logout()">Logout</a></p>
<% include layoutBottom %>
